<div class="container">

<div class="row">
        <div class="center jumbotron col-sm-12">
        <div class="text-center">
        <h1>Welcome to Dive Log</h1>
            <% unless logged_in? %>
                <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
            <% end %>
        </div>
        </div>
</div>

<div class="row mb-2">
    <div style="display:inline-block; margin-left:auto; margin-right:auto;">
        <% if logged_in? %>
        <%= link_to newlog_user_path(@user), class: 'btn btn-lg btn-outline-primary' do %>
          New Log <i class="fas fa-pencil-alt"></i>
        <% end %>
    <% end %>
    </div>
</div>



<div class="row">
    <aside class="col-sm-3 mb-2">

    </aside>
    <div class="col-sm-9">

        <%= render 'logs/logs_overview', logs: @logs %>
    </div>
</div>

</div>