<div class="center jumbotron">
    <div class="text-center">
        <h1>Welcome to Dive Log</h1>
            <% unless logged_in? %>
                <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
            <% end %>
    </div>
</div>

<div class="row">
    <aside class="col-sm-4">
        free_area</br>
        ランキングか新規作成フォームかどちらか
        <% if logged_in? %>
        <%= link_to 'New Log!', newlog_user_path(@user), class: 'btn btn-lg btn-primary' %>
        <% end %>
    </aside>
    <div class="col-sm-8">
        <%= render 'logs/logs_overview', logs: @logs %>
    </div>
</div>